html {
	overflow: hidden;
	
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	line-height: normal;
	background-color: black;
}

p {
	color: white;
	margin: 0;
}

h1 {
	color: #444;
}

.text-center {
	text-align: center;
}
